
<h1>Empleados</h1>
<h3>Menu</h3>
<br>
<h4><%= link_to "Agregar/Editar Funcion", new_employees_show_path %></h4>
<br>
<h4><%= link_to "Realizar Ventas en Taquilla", new_employees_show_path %></h4>
<br>
<h4>Pagar Reservaciones</h4>
<%= form_tag '/employees/reservations', :method => "get" do %>
    <%= label_tag 'Introduzca Cedula' %>
    <%= number_field_tag 'ci' %>
    <%= submit_tag "Buscar" %>
<% end %>




