<br><br>
<h3>Todas las Reservaciones</h3>
<table class="table">
	<thead>
		<tr>
			<th>C.I.</th>
			<th>Asientos</th>
			<th>Hora</th>
			<th>Pelicula</th>
			<th>Sala</th>
		</tr>
	</thead>
	<tbody>
		<% @reservations.each do |r| %>
			<tr>
				<td><%= r.ci %></td>
				<td><%= r.seat %></td>
				<td><%= r.schedule.hour %></td>
				<td><%= r.pelicula.tite %></td>
				<td><%= r.room.number %></td>
				<td><%= link_to "Editar show", edit_employees_show_path(show) %></td>
				<td><%= link_to "Destroy", employees_show_path(show), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>	

