<div id="myCarousel" class="carousel slide">
  		<!-- Indicadores -->
		<ol class="carousel-indicators">
			<li data-target= "#myCarousel" data-slide-to= "0" class="active"></li>
			<li data-target= "#myCarousel" data-slide-to= "1"></li>
			<li data-target= "#myCarousel" data-slide-to= "2"></li>
		</ol>

		<!-- Lo que va Adentro del slide -->
		<div class="carousel-inner">
		<!-- Imagenes de un mismo tamano -->
		
			<!-- Primer item activo -->
			<div class="item active">
				<!-- Cambiar "alt" para cada imagen -->		
			<div class="item">
				<div align="center"> <%=link_to( image_tag("http://imageshack.com/a/img911/5017/WRpBr5.jpg", :size => '1100x400'), board_path,:class  => 'img-responsive') %></div>
				<div class="carousel-caption">
				</div>
			</div>			
			</div>

			<div class="item">
				<div align="center"> <%=link_to( image_tag("http://imageshack.com/a/img913/5098/aYEO8b.jpg", :size => '1100x400'), board_path, :class  => 'img-responsive') %></div>
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item">
				<div align="center"> <%=link_to( image_tag("http://imageshack.com/a/img537/7928/dTTAH4.jpg", :size => '1100x400'), board_path, :class  => 'img-responsive') %></div>
				<div class="carousel-caption">
				</div>
			</div>

		</div>
		<!-- Paneles de control de slide -->
		<a class="carousel-control left" href="#myCarousel" data-slide= "prev">
			<span class="icon-prev"></span>
		</a>
		
		<a class="carousel-control right" href="#myCarousel" data-slide= "next">
			<span class="icon-next"></span>
		</a>
  	</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 moviebar">
        <div class="again180">Peliculas Destacadas</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" style="background-color:  rgba(0, 0, 0, 0.6);">
      <%=	 image_tag(("http://imageshack.com/a/img537/6715/xjDxU7.jpg"), :class => 'img-responsive') %>
    </div>
    <div class="col-sm-3" style="background-color:  rgba(0, 0, 0, 0.6);">
      <%=	 image_tag(("http://imageshack.com/a/img538/1939/pQ8jdQ.jpg"), :class => 'img-responsive') %>
    </div>
    <div class="col-sm-3" style="background-color:  rgba(0, 0, 0, 0.6);">
      <%=	 image_tag(("http://imageshack.com/a/img673/4079/Q4NRW3.jpg"), :class => 'img-responsive') %>
    </div>
    <div class="col-sm-3" style="background-color:  rgba(0, 0, 0, 0.6);">
      <%=	 image_tag(("http://imageshack.com/a/img540/5016/cZBTYh.jpg"), :class => 'img-responsive') %>
    </div>
  </div>

</div>
