<div class="container">
  <div class="row">
    <div class="col-sm-12 moviebar">
      <div class="again180">Datos de Tarjeta</div>
    </div>
  </div>
  <div class="wrapeador">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-5">
        <%= form_for @payment, url: payments_create_path do |p| %>

            <div class="form-group">
                <div><%= p.label "Introduzca Numero de Tarjeta" %></div>
                <%= p.number_field :cardnumber, :class => 'form-control' %>
            </div>

            <div class="form-group">
                <div><%= p.label "Fecha de Expiración"  %></div>
                <%= p.date_field :due_date, :class => 'form-control'  %>
            </div>

            <div class="form-group">
                <div><%= p.label "Tipo de Tarjeta" %></div>
                <%=	 p.select(:cardtype, @tarjetas) %>
            </div>

      </div>

      <div class="col-sm-5">

        <div class="form-group">
            <div><%= p.label "Nombre de Tarjetahabiende"  %></div>
                <%= p.text_field :cardname, :class => 'form-control'  %><p>
        </div>

        <div class="form-group">
          <div><%= p.label "Código de Seguridad"  %></div>
            <%= p.text_field :codesecurity, :class => 'form-control'  %><p>
        </div>

            <%= p.hidden_field :pay_date, :value => Date.today %>
            <%= p.hidden_field :billing_id, :value => @bill.id %>

            <%= p.button  :submit , name: "id",value: @bill.id, :class => 'btn btn-success'%>
        <% end %>
      </div>
    </div>
  </div>
</div>