<%=form_for @show, url: employees_show_path do |s| %>
<div class="field">
    <%= s.label :schedule %>
    <%= s.collection_select(:schedule_id, Schedule.all, :id, :hour, prompt: "Seleccione Hora") %>
</div>
<div class="field">
    <%= s.label :room %>
    <%= s.collection_select(:room_id, Room.all, :id, :number, prompt: "Seleccione Sala") %>
</div>
<div class="field">
    <%= s.label :pelicula %>
    <%= s.collection_select(:pelicula_id, Pelicula.all, :id, :tite, prompt: "Seleccione Película") %>
</div>
<%= s.submit %>
<% end %>
<br>
<%= link_to "Volver al Menu", :back %>