<br><br>
<h3>Todas las Funciones</h3>
<table class="table">
	<thead>
		<tr>
			<th>Hora</th>
			<th>Sala</th>
			<th>Asientos</th>
			<th>Pelicula</th>
		</tr>
	</thead>
	<tbody>
		<% @shows.each do |show| %>
			<tr>
				<td><%= show.schedule.hour %></td>
				<td><%= show.room.number %></td>
				<td><%= @seats.where(:show_id => show.id, :status => 0).count %></td>
				<td><%= show.pelicula.tite %></td>
				<td><%= link_to "Editar", edit_employees_show_path(show) %></td>
                <td><%= link_to "Eliminar", employees_show_path(show), method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>	

<h3>Agregar Funcion</h3>
<%=form_for @show, url: employees_shows_create_path do |s| %>
<div class="field">
    <%= s.label :Hora %><br>
    <%= s.collection_select(:schedule_id, Schedule.all, :id, :hour, prompt: "Seleccione Hora") %><br><br>
</div>
<div class="field">
    <%= s.label :Sala%><br>
    <%= s.collection_select(:room_id, Room.all, :id, :number, prompt: "Seleccione Sala") %><br><br>
</div>
<div class="field">
    <%= s.label :Pelicula %><br>
    <%= s.collection_select(:pelicula_id, Pelicula.all, :id, :tite, prompt: "Seleccione Película") %><br><br>
</div>
<br>
<%= s.submit %>
<% end %>
<br>
<%= link_to "Volver al Menu", employees_path %>